<div class = "footer">
  <%= link_to image_tag("https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/github_logo.png", size: "30x29"), "https://github.com/TrueZortal", target: :_blank %>
  <%= link_to image_tag("https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/linked_in_logo.png", size: "30x29"), "https://www.linkedin.com/in/buczekm/", target: :_blank %>
  <%= mail_to "mtsbck@gmail.com", image_tag("https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/mail_icon.png", size: "30x29")%>
  <p class = "copyrightkek">© Mateusz Buczek 2022</p>
  <form action="https://www.paypal.com/donate" method="post" target="_top">
  <input type="hidden" name="business" value="ETTQA69A7GSTW" />
  <input type="hidden" name="no_recurring" value="1" />
  <input type="hidden" name="item_name" value="Not much to say here! Buy me a beer if you appreciate one of my projects!" />
  <input type="hidden" name="currency_code" value="EUR" />
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
  <img alt="" border="0" src="https://www.paypal.com/en_DE/i/scr/pixel.gif" width="1" height="1" />
  </form>
</div>
ś