<div class = "footer">
  <%= link_to image_tag("https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/github_logo.png", size: "30x29"), "https://github.com/TrueZortal", target: :_blank %>
  <%= link_to image_tag("https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/linked_in_logo.png", size: "30x29"), "https://www.linkedin.com/in/buczekm/", target: :_blank %>
  <%= mail_to "mtsbck@gmail.com", image_tag("https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/mail_icon.png", size: "30x29")%>
  <p class = "copyrightkek">© Mateusz Buczek 2022</p>
</div>
